    html {
      height: 100%;
    }
    body {
       width: 800px;
       margin: 0 auto;
       padding-top: 5px;
       height: 100%;
       font-family: 'Roboto Condensed', sans-serif;
    }

    header {
        background-color:#9b0000;
        color:#fdefb9;
        text-align:center;
        padding:5px;
        font-family:'Bilbo Swash Caps', cursive;
        font-size: 30px;
        display: block;
        width: 790px;
    }
    nav {
        line-height:30px;
       /* background-color:#eeeeee;*/


          background: rgba(155,0,0,1);
          background: -moz-linear-gradient(top, rgba(155,0,0,1) 0%, rgba(255,255,255,1) 100%);
          background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(155,0,0,1)), color-stop(100%, rgba(255,255,255,1)));
          background: -webkit-linear-gradient(top, rgba(155,0,0,1) 0%, rgba(255,255,255,1) 100%);
          background: -o-linear-gradient(top, rgba(155,0,0,1) 0%, rgba(255,255,255,1) 100%);
          background: -ms-linear-gradient(top, rgba(155,0,0,1) 0%, rgba(255,255,255,1) 100%);
          background: linear-gradient(to bottom, rgba(155,0,0,1) 0%, rgba(255,255,255,1) 100%);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9b0000', endColorstr='#ffffff', GradientType=0 );



        min-height:100%;
        width:125px;
        display: inline-block;
        vertical-align: top;
        padding:5px;
        font-size: 18px;
    }
    nav ul {
        list-style-type: none;
    }
    a {
        color: black;
    }
    section {
        width: 516px;
        display: inline-block;
    }
    aside {
      width: 125px;
      display: inline-block;
      vertical-align: top;

      background: rgba(155,0,0,1);
      background: -moz-linear-gradient(top, rgba(155,0,0,1) 0%, rgba(255,255,255,1) 100%);
      background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(155,0,0,1)), color-stop(100%, rgba(255,255,255,1)));
      background: -webkit-linear-gradient(top, rgba(155,0,0,1) 0%, rgba(255,255,255,1) 100%);
      background: -o-linear-gradient(top, rgba(155,0,0,1) 0%, rgba(255,255,255,1) 100%);
      background: -ms-linear-gradient(top, rgba(155,0,0,1) 0%, rgba(255,255,255,1) 100%);
      background: linear-gradient(to bottom, rgba(155,0,0,1) 0%, rgba(255,255,255,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9b0000', endColorstr='#ffffff', GradientType=0 );



      font-size: 18px;
      min-height: 100%;
      padding: 8px;
    }
    aside ul {
        list-style-type: none;
    }
    footer {
        width: 790px;
        background-color:#9b0000;
        color:#fdefb9;
        text-align:center;
        padding:5px;
        display: block;
    }

/* Comment: Beth's CSS*/
nav li .active {
  font-weight: bold;
}
.home {
  border: solid 4px #9b0000;
  margin-bottom: 8px;
}
#climate{
  border: solid #00bb00;
}
img {
  width: 100%
  }

article img {
  max-width:200px;
}

/*h1 {
 font-weight:bold;
 font-size:48px;
  color:#9b0000
  }*/

  h2 {
 font-weight:bold;
 font-size:40px;
 font-style: oblique;
  color:#9b0000
  }

  h3 {
 font-weight:bold;
 font-size:30px;
  color:#000000
  }

  h4 {
 font-weight:bold;
 font-size:25px;
  color:#000000
  }